<!-- Lista de Pessoas -->
<div class="modal-overlay" *ngIf="pessoa">
  <div class="modal-content">
    <span class="close-button" (click)="closeModal()">&times;</span>
    <div>
      <h3>Informações da Pessoa</h3>
      <p><strong>ID:</strong> {{ pessoa.id }}</p>
      <p><strong>Nome Completo:</strong> {{ pessoa.nomeCompleto }}</p>
      <p><strong>CPF:</strong> {{ pessoa.cpf }}</p>
      <p><strong>Telefone:</strong> {{ pessoa.telefone }}</p>
    </div>
    <div>
      <h3>Endereço</h3>
      <p><strong>CEP:</strong> {{ pessoa.endereco.cep }}</p>
      <p><strong>Logradouro:</strong> {{ pessoa.endereco.logradouro }}</p>
      <p><strong>Número:</strong> {{ pessoa.endereco.numero }}</p>
      <p><strong>Complemento:</strong> {{ pessoa.endereco.complemento }}</p>
      <p><strong>Bairro:</strong> {{ pessoa.endereco.bairro }}</p>
      <p><strong>Localidade:</strong> {{ pessoa.endereco.localidade }}</p>
      <p><strong>UF:</strong> {{ pessoa.endereco.uf }}</p>
    </div>
  </div>
</div>

